@{
    ViewData["Title"] = "Contacts";
    Layout = "_Layout";
    var id = ViewContext.RouteData.Values["id"];
}

<h1>Contact</h1>

@{
    if(id is not null)
    {
        <p>You searched for id @id</p>
    } else
    {
        <p>You did not specify an ID</p>
    }
}
<a asp-action="Index">Return</a>
